%div.sidebar
  %div
    %button.postAction.publish#publish PUBLISH
  %div
    %button.postAction#save Save
    %button.postAction#preview Preview
  %div.undoRedoDiv
    %button.iconButton#undo UNDO
    %button.iconButton#redo REDO
  %div.copyPasteDiv
    %button.iconButton#cut CUT
    %button.iconButton#copy COPY
    %button.iconButton#paste PASTE
  %div.addItemDiv
    %button.add#add_rectangle + New Item
  %div
    %button.add#add_header + New Header
  %div
    %button.add#add_section_title + New Section Title
  %div
    %button.add#add_text_section + New Text Section
  %div
    %button.add#add_more + More...

%div.main_view
  .page
    %canvas#grid{:width => 720, :height => 400}
    %canvas#borders{:width => 720, :height => 400}
    #page_content
    %div.clearfix#floatingbar{:style=>"display:none"}
      %ul 
        %li
          %button#toolbar_bold{:style=>"font-style:bold; border-style:none"}
            B
        %li
          %button#toolbar_italic{:style=>"font-style:italic; border-style:none"}
            I
        %li
          %button#toolbar_alignment
            Alignment
      %div{:style=>"clear:both"}
    %br
    %br

= form_for @post do |f|
  -if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.text_area :content
  .actions
    = f.submit 'Save'
